.c_maingray{
  background-color: var(--maingray);
}
.c_mainyellow{
  background-color: var(--mainyellow);
}
.c_textcolor_fff{
  color: #fff;
}
/* 上面長條黃黃 */
.c_yellow_check {
  max-width: 1028px;
  background-color: var(--mainyellow);
  padding: 2%;
  margin: 0 auto;
  color: var(--maindarkgray);
  margin-bottom: 8%;
  text-align: center;
}

.c_yellow_check svg {
  width: 25px;
  height: 25px;
  fill: #fff;
  margin: 0 1%;
}

/*----------進度-------------*/

.c_sopbox {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 15%;
  margin-bottom: 5%;
}

.c_sopbox::after {
  position: absolute;
  top: 68px;
  left: 140px;
  content: "";
  width: 450px;
  height: 3px;
  background-color: var(--maingray);
  z-index: -1;
}

.c_donate_money_sop {
  max-width: 200px;
  margin: 5% auto;
  text-align: center;
  justify-content: center;
}

.c_donate_money_step1,
.c_donate_money_step2,
.c_donate_money_step3 {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  font-size: 28px;
  text-align: center;
  line-height: 1.8;
}
.c_donate_money_sop p {
  margin: 10% auto;
}
/* -------------------------購物車項目------------------------------------------------------- */

.c_cart_item{
  max-width: 1028px;
  margin: 5% auto 0 auto;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
 
}

.c_cart_item_title{
 
  margin: 0 auto;

  background-color: var(--mainyellow);
}

.c_cart_item_pic {
  max-width: 130px;
  max-height: 130px;
  vertical-align: middle;

}

.c_cart_td02{
  max-width:300px; 
}
.c_cart_item_name{
  /* vertical-align: middle; */

 
  text-align: left; 
  font-size: 14px;
  /* margin-left: 5%; */
  margin-bottom: 5%;
}
.c_cart_item_content{

  max-width:250px; 
 
   text-align: left; 
   font-size: 13px;
   margin-left: 1%;
   margin-bottom: 3%;
}
.c_cart_item_blueBTN_size,.c_cart_item_blueBTN_time{
 position: relative;
width: 150px;
  margin: 0 auto;
 background-color: var(--mainblue);
 color: #fff;
 
 border-radius: 50px;
 text-align: center;
 cursor: pointer;
}
.c_cart_item_blueBTN_size svg,.c_cart_item_blueBTN_time svg{
  position: absolute;

  width: 14px;
  height: 20px;
  fill:#fff;
right:5px;

}
.c_cart_item_amount{
  margin: 0 auto;
  max-width: 150px;
  background-color: #F7F4EE;
  border-radius: 50px;
  font-size: 18px;
  justify-content: center;
  margin-bottom: 0;

}
.c_cart_itemAmount{
  /* margin: 0 15%; */
  /* line-height: 2.2; */
  max-width: 60px;
  border: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);


}

.c_cart_item_amount input:focus{
outline:none;
  /* border:none; */
}
.min,.add{
  font-weight: 800;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.c_cart_item_subtotal{
  width: 150px;
}
.c_cart_item_price::before,.c_cart_item_subtotal::before,.c_cart_item_alltotal::before{
  content: "NT$  ";
  font-size: 13px;
}
.c_cart_item td, .c_cart_item th {
  vertical-align: middle;
  /* 使Table欄位垂直置中 */
  border-top: 0px ;
  padding: 0.8rem;
}
.c_cart_item tr{
  border-bottom: 5px solid #F7F4EE;
}

.c_cart_item_total{
  max-width: 850px;
  margin: 0 auto;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 600;
  margin-right:8%;

}
.c_cart_item_total span{
margin-left: 8%;
 


}




.delete svg{
  width: 17px;
  fill:var(--maingray);
cursor: pointer;
}



.c_yellow_deleteAll {
  max-width: 1028px;
  background-color: var(--mainyellow);
  padding: 1%;
  margin: 0 auto;
  color: var(--maindarkgray);
 font-size: 13px;
  text-align: right;
  cursor: pointer;
}

.c_yellow_deleteAll svg{
  width: 13px;
  height: 13px;
  fill:var(--maindarkgray);
  margin-right: 5px;
  margin-bottom: 1px;

}


.c_NOitem{
  display: none;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;

}
.c_NOitem p{
  max-width: 280px;
  margin: 5% auto;
 font-size: 22px;
  color: var(--maindarkgray);


  
}
.c_NOitem img{
  /* position: absolute; */
  max-width: 110px;

  
}
 /*下一步*/
.c_btn_box {
  max-width: 600px;
  margin: 10% auto;
  justify-content: center;


}

.c_btn_box a {
  color: var(--maindarkgray);
  text-decoration: none;

}

.c_btn_forward, .c_btn_next, .c_btn_home {
  max-width: 200px;
  background-color: var(--mainyellow);
  border-radius: 50px;
  padding: 1% 5%;
  text-align: center;
  margin: 5%;
}

/* 手機版關掉 */
.c_cart_Mobile_box{
  display: none;

      }
@media (max-width: 414px) {
  /* 上面長條黃黃 */
  .c_yellow_check {
    padding: 5%;

    margin-bottom: 8%;
  }
  /*進度----------*/
  .c_sopbox {
    font-size: 11px;
    margin: 4% auto;

    margin-top: 30%;
  }
  .c_sopbox::after {
    top: 43px;
    left: 50px;
    width: 250px;
    height: 2px;
  }
  .c_donate_money_step1,
  .c_donate_money_step2,
  .c_donate_money_step3 {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 2.2;
  }

  /* -------------------------購物車項目------------------------------------------------------- */
  .c_cart_Mobile_box{
    position: relative;
    z-index: 5;
    display: block;
    margin-bottom: 0;
  
        }
        .c_cart_item thead{
            display: none;
        }
        .c_cart_item {
            display: none;
        }
        .c_cart_item_title{
          padding: 2%;
          font-size: 12px;
        }
 
    .c_cart_item_total{
        font-size: 14px;
        margin-right: 5%;
        margin-top: 5%;
    }
    .c_cart_Mobile_item{
      position: relative;
        max-width: 350px;
        margin: 2% auto 2% auto;
        /* padding: 5%; */
        font-size: 14px;
        text-align: center;
        background-color: #fff;
     
        overflow: hidden;
      
    }
    
    .c_cart_Mobile_item td, .c_cart_Mobile_item th {
        vertical-align: middle;
        /* 使Table欄位垂直置中 */
        border-top: 0px ;
        padding: 0.6rem;
    }
    
    
    .c_cart_item_pic{
       max-width: 80px;
       max-height: 80px;
   
        vertical-align: middle;
 
    }
    
    .c_cart_item_name{
        vertical-align: middle;
     
       max-width:250px; 
        text-align: left; 
        font-size: 12px;
        margin-bottom: 5%;
    }
    .c_cart_item_content{

      max-width:250px; 
     
       text-align: left; 
       font-size: 11px;
       margin-left: 0;
       margin-bottom: 3%;
    }
    .c_cart_item_blueBTN_size,.c_cart_item_blueBTN_time{
     position: relative;
    width: 100px;
      margin: 0 auto;
     background-color: var(--mainblue);
     color: #fff;
     
     border-radius: 50px;
     text-align: center;
     cursor: pointer;
    }
    .c_cart_item_blueBTN_size svg,.c_cart_item_blueBTN_time svg{
      position: absolute;
    
      width: 10px;
      height: 10px;
      fill:#fff;
    right:5px;
    top:3px;
    
    }
.c_Mobile_item_up{
  margin:5% 1% 0 1%;
}

    .c_Mobile_item_down{
max-width: 360px;
margin: 4% 0 5% 0;
/* margin-top: 5%; */
justify-content: space-between;
    }
    .c_cart_item_subtotal {
        max-width:100px; 
    
    }
    .c_cart_item_amount{
     
        max-width: 90px;
    
        font-size: 13px;
    
    
    }
    .c_cart_itemAmount{
    
        max-width: 40px;
    
    
    }
    
    .c_cart_item_subtotal{
        width: 100px;
    }
    .c_cart_item_price::before,.c_cart_item_subtotal::before,.c_cart_item_alltotal::before{
        content: "NT$  ";
        font-size: 11px;
    }
    
    .c_tr_bottom{
        border-bottom: 10px solid #F7F4EE;
      
    }
    
    .c_cart_item_price{
        opacity: .6;
    }
/* 手機板 刪除 */
.c_cart_Mobile_delete{
  position:absolute;
 width:100%;
 height: 100%;
  
  background-color: var(--maindarkgray);
  text-align: right;
  
  top:0;
  right: 0;
  z-index: -1;
}
.c_cart_Mobile_delete svg{
 margin-right: 20px;
 
}
    /* 甚麼都沒有 */
    .c_NOitem{

      margin-top: 50%;
    
    }
    .c_NOitem p{
      max-width: 280px;
      margin: 5% auto;
     font-size: 18px;
 
    
    
      
    }
    .c_NOitem img{
   
      max-width: 80px;
  
      
    }
        /*下一步*/
        .c_btn_forward, .c_btn_next {
          max-width: 150px;
          padding: 1% 5%;
          margin: 20% 3%;
      }
}
