/* 表格裡的其他_____________ */
.c_formother_input {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid var(--maindarkgray) !important;
  border-radius: 0;
}
.c_formother_input:focus {
  background-color: rgba(255, 255, 255, 0);
  /* border-bottom: 1px solid var(--maindarkgray)  !important; */
  -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) !important;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) !important;
}
.c_booking_title {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 15%;
  text-align: center;
}
.c_booking_title img {
  max-width: 500px;
  margin: 0 auto;
}
.c_booking_note {
  font-size: 12px;
  margin: 0 auto;
  max-width: 900px;
  line-height: 2;
  margin-top: 10%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.555);
}
.c_booking_note_p {
  font-size: 12px;
  color: var(--mainblue);
}
.c_booking_time {
  padding-top: 3%;
}
.c_booking_complete_box {
  max-width: 900px;
  margin: 10% auto;
}
.c_booking_cheak {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 10%;
}
.c_booking_cheak p {
  margin-top: 10%;
}
.c_booking_cheak span {
  margin-left: 5%;
  font-size: 30px;
}

.c_booking_cheak svg {
  margin-bottom: 3%;

  width: 30px;
  height: 30px;
  fill: var(--mainyellow);
}
@media (max-width: 414px) {
  .c_booking_title {
    max-width: 300px;
    margin-top: 35%;
  }
  .c_booking_title img {
    max-width: 300px;
  }
  .c_booking_time {
    padding: 0;
    margin: 0 auto;
  }
  .c_booking_time > div:nth-child(2) {
    margin-top: 3%;
  }
}
