.c_donate_foodBOX{
    max-width: 1028px;
    margin: 5% auto;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
   
}
.c_donate_foodBOX_title{
   
    margin: 0 auto;

    background-color: var(--mainyellow);
}
.c_donate_foodBOX_pic{
    max-width: 80px;

}


.c_donate_foodBOX_name{
    max-width:150px; 
    text-align: left; 
    font-size: 16px;
}
.c_donate_foodBOX_amount{
    background-color: #F7F4EE;
    border-radius: 50px;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 0;

}
.c_donate_foodAmount{
    margin: 0 15%;
    /* line-height: 2.2; */
}
.c_donate_cut,.c_donate_add{
    font-weight: 800;
  
  
    cursor: pointer;
}
.c_donate_foodBOX_price::before,.c_donate_foodBOX_subtotal::before{
    content: "NT$";
    font-size: 12px;
}
.c_donate_foodBOX td, .c_donate_foodBOX th {
    vertical-align: middle;
    /* 使Table欄位垂直置中 */
    border-top: 0px ;
}
.c_donate_foodBOX tr{
    border-bottom: 5px solid #F7F4EE;
}