.c_donate_foodBOX{
    max-width: 1028px;
    margin: 5% auto 2% auto;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
   
}

.c_donate_foodBOX_title{
   
    margin: 0 auto;

    background-color: var(--mainyellow);
}
.c_donate_foodBOX_pic {
    max-width: 130px;
    
    vertical-align: middle;
}

.c_donate_foodBOX_name{
    vertical-align: middle;
    display:inline-block;
    max-width:250px; 
    text-align: left; 
    font-size: 14px;
    margin-left: 5%;
}
.c_donate_foodBOX_amount{
    margin: 0 auto;
    max-width: 150px;
    background-color: #F7F4EE;
    border-radius: 50px;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 0;

}
.c_donate_foodAmount{
    /* margin: 0 15%; */
    /* line-height: 2.2; */
    max-width: 60px;
    border: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
  

}

.c_donate_foodBOX_amount input:focus{
outline:none;
    /* border:none; */
}
.min,.add{
    font-weight: 800;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.c_donate_foodBOX_subtotal{
    width: 150px;
}
.c_donate_foodBOX_price::before,.c_donate_foodBOX_subtotal::before,.c_donate_foodBOX_alltotal::before{
    content: "NT$  ";
    font-size: 13px;
}
.c_donate_foodBOX td, .c_donate_foodBOX th {
    vertical-align: middle;
    /* 使Table欄位垂直置中 */
    border-top: 0px ;
    padding: 0.8rem;
}
.c_donate_foodBOX tr{
    border-bottom: 5px solid #F7F4EE;
}

.c_donate_foodBOX_total{
    max-width: 850px;
    margin: 0 auto;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 600;
    margin-right:8%;

}
.c_donate_foodBOX_total span{
  margin-left: 8%;
   


}
.c_donate_mobile_foodBOX{
    display: none;
        }

@media (max-width:414px){
    .c_donate_mobile_foodBOX{
display: block;
    }
    .c_donate_foodBOX thead{
        display: none;
    }
    .c_donate_foodBOX {
        display: none;
    }
   
.c_donate_foodBOX_total{
    font-size: 14px;
    margin-right: 5%;
    margin-top: 5%;
}
.c_donate_mobile_foodBOX{

    max-width: 350px;
    margin: 5% auto 2% auto;
    font-size: 14px;
    text-align: center;
    background-color: #fff;

}

.c_donate_mobile_foodBOX td, .c_donate_mobile_foodBOX th {
    vertical-align: middle;
    /* 使Table欄位垂直置中 */
    border-top: 0px ;
    padding: 0.6rem;
}


.c_donate_foodBOX_pic{
    width: 90px;
    display:inline-block;
    vertical-align: middle;
    margin-left: 5%;
}

.c_donate_foodBOX_name{
    vertical-align: middle;
    display:inline-block;
   max-width:230px; 
    text-align: left; 
    font-size: 13px;
    margin-left: 1%;
}
.c_donate_foodBOX_subtotal {
    max-width:100px; 

}
.c_donate_foodBOX_amount{
 
    max-width: 90px;

    font-size: 14px;


}
.c_donate_foodAmount{

    max-width: 40px;


}

.c_donate_foodBOX_subtotal{
    width: 100px;
}
.c_donate_foodBOX_price::before,.c_donate_foodBOX_subtotal::before,.c_donate_foodBOX_alltotal::before{
    content: "NT$  ";
    font-size: 11px;
}

.c_tr_bottom{
    border-bottom: 10px solid #F7F4EE;
  
}

.c_donate_foodBOX_price{
    opacity: .6;
}
}